.Friend {
  position: relative;
  cursor: pointer;
}
.FriendBackground {
  border-radius: 10px;
  border: 1px solid lightgray;
}

#profile {
  width: 35px;
  height: 35px;
  border: 3px solid #3b5998;
  border-radius: 100%;
  background-color: black;
}
.Friend___Img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-95%, -170%);
}

.Friend__text {
  font-size: 11px;
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 170%);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: lighter;
}
@media screen and (min-width: 992px) {
  .Friend {
    width: 25%;
    display: flex;
    gap: 8px;
  }
}
