.btn {
  background-color: black;
  border-radius: 5px;
  padding: 5px 8px;
  margin: 5px;
}

.btn--variant-red {
  background-color: red;
}

.btn--variant-green {
  background-color: green;
}

.btn--variant-blue {
  background-color: blue;
}
