.element {
  display: flex;
  flex-direction: column;
  border-top: 12px solid gray;
}

.elementUser {
  gap: 10px;
  display: flex;
}

.elementUser img {
  margin: 8px;
  width: 40px;
  border-radius: 100%;
  background-color: black;
}

.elementUser p {
  padding-top: 8px;
}

.elementImg {
  width: 100%;
}
.elementText {
  padding: 0 0 14px 8px;
  display: flex;
  justify-content: flex-start;
}

.reaction {
}

.reaction span {
  font-size: 12px;
}
