body {
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
  text-align: center;
}

.btn {
  border: 1px dotted;
  background-color: black;
  color: white;
  cursor: pointer;
  margin: 1rem;
}

.images {
}

@media (prefers-reduced-motion: no-preference) {
}

@keyframes App-logo-spin {
}
