* {
  margin: 0;
}

.App {
  text-align: center;
  display: flex;
}

.friendsSection {
  border: 1px solid red;
}

.mainSection {
  border: 1px solid blue;
}

@media screen and (max-width: 768px) {
  .App {
    flex-direction: column;
  }
}
